.header {
    height: 100px;
    width: 100vw;
    padding: 0px 20px;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    
    .title-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .info-wrapper {
        width: 50%;
        display: flex;
        
        .questions {
            width: 50%;
        }
        
        .actions {
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
}